<div class="card">
    <h1>About</h1>
    <div class="container">
        <p>I started this project because after using alternatives I thought I could come up with 
            something better. I wanted something module and something that could be added on to easily
            and that could continue to grow. I wanted something others could contribute to. 
            It has been my goal from the beginning to keep this completely open source. 
            
        </p>
    </div>
</div>