<h1>Contact</h1>

<!--TODO: need to finish this contact info form and find how to send an email-->
<form action="/contact" method="post">
    {{#if user}}
        <input type="hidden" name="userId" value="{{user.id}}">
    {{/if}}

    <div class="form-group">
        <label for="contactTitle">Title</label>
        <input type="text" name="contactTitle" required> 
    </div>

    <div class="form-group">
        <label for="contactName">Name</label>
        <input type="text" name="contactName" required> 
    </div>

    <div class="form-group">
        <label for="contactBody">Body</label>
        <textarea name="contactBody" required></textarea> 
    </div>

    <button type="submit" class="button-submit">Contact</button>

</form>


