{{#each errors}}
    <div class="alert-danger">{{text}}</div>
{{else}}

{{/each}}

<h3>New Post</h3>

<form action="/posts" method="post">

    <div class="form-group">
        <label for="postTitle">Title</label>
        <input type="text" name="postTitle" required> 
    </div>

    <div class="form-group">
        <label for="postBody">Body</label>
        <textarea name="postBody"></textarea required> 
    </div>

    <button type="submit" class="button-submit">Add Post</button>

</form>